.vw_product_information_text {
    flex: 1 1 auto;
}

.vw_products_item_title {
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.vw_product_price {
    text-align: center !important;
}
